ul {
  margin: 0; padding: 0;
  list-style-type: none;
}
li {
  padding: 1ex 0;
}
ul.menu > li {
  margin: 0;
  padding: 2ex 0; padding-left: 3em;
  border-bottom: 2pt solid blue;
}

h4 {
  font-size: 
}

.open {
  background: blue;
  color: white;
}

